.sidebar {
    position: absolute;
    height: calc(100vh - 86.4px);
    width: -webkit-fill-available;
    right: 0;
    text-align: end;
    background: #f0f0f0;
    border-left: 1px solid #D3D3D3;

    h3 {
        color: #353535;
        padding: 10px 12px;
    }
    
    a {
        display: block;
        padding: 10px 24px;
    }

    a.active {
        background-color: rgba(46, 139, 192, 0.15);
        border-right: 3px solid #2E8BC0;
    }
}