/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";

@font-face {
    font-family: 'Cairo';
    src: url("assets/fonts/Cairo-Medium.ttf");
    font-weight: 600;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html {
   scroll-behavior: smooth;
}

body {
    margin: 0px;
    position: relative;
    /* background-color: #edf0f5; */
    font-family: 'Cairo';
    font-size: 0.8125rem;
    letter-spacing: 0.1px;
    line-height: 20px;
}

ul {
    list-style: none;
}

h1,h2,h3,h4,h5,h6{ 
    margin: 0;
}